/* mobile nav */
.SuperParent {
	display: none;
}

@media all and (max-width: 899px) {
	/* wagmotong galawin */
	.nbContainer {
		display: none;
	}
	* {
		scroll-behavior: smooth;
	}
	.SuperParent {
		display: flex;
		position: fixed;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		z-index: 100;
		overflow-x: hidden;
	}
	.nbContainerM {
		display: flex;

		padding: 10px;
		z-index: 5;

		width: 100vw;
		height: 70px;
		background-color: #020826;

		align-items: center;
		justify-content: center;
	}
	.nbTitleM {
		font-family: var(--title-font);
		color: #f9f4ef;
		font-size: 1rem;
		width: 200px;
		text-align: center;
		transition: color 0.5s ease-in-out;
		margin-inline: auto;
	}
	.btnMobile {
		margin-block: auto;
		align-self: flex-end;
		margin-right: 5%;

		color: #f9f4ef;
		cursor: pointer;
		font-size: 1.5rem;
	}

	.nbList {
		padding-block: 10px;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		transform: translateX(100%);
		background-color: #020826;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: transform 500ms ease-in-out;
	}
	.nbList.nblA {
		transform: translateX(0%);
		transition: transform 500ms ease-in-out;
	}
	.nbItems {
		width: inherit;
		font-size: 2rem;
		text-align: center;
		transition: transform 0.5s ease-in-out;
	}
	.nbItems:active {
		transform: scale(0.95);
		transition: transform 0.5s ease-in-out;
	}
}
