@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Secular+One&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
:root {
	--bg-color: #f5f4ef;
	--bg-color-accent: #aaa8a7;
	--main-color: #d46752;
	--main-accent-color: #ac8c64;
	--inverted-bg-color: #222020;
	--title-font: 'Secular One', sans-serif;
	--body-font: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 4rem;
	font-family: 'Lobster', cursive;
	color: #020826;
}

p {
	font-family: var(--body-font);
	color: #716040;
	font-size: 1.45rem;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f4ef;
	height: 100vh;
	width: 100vw;
}
/* navbar */
.nbContainer {
	overflow: hidden;
	padding: 10px;
	z-index: 5;
	position: fixed;
	width: 100vw;
	height: 70px;
	background-color: #020826;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.nbTitle {
	margin-inline: 5%;
	width: 200px;
}

.nbtText {
	font-family: 'Lobster', cursive;
	color: #f9f4ef;
	font-size: 2.5rem;

	text-shadow: 3px 3px #8c7851;
}

.nbContents {
	margin-left: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 100px;
}
.nbItems {
	font-family: var(--title-font);
	color: #f9f4ef;
	font-size: 1rem;
	width: 100px;
	text-align: center;
	transition: color 0.5s ease-in-out;
}
.nbItems:hover {
	background-color: #f9f4ef;
	color: #020826;
	border-radius: 10px;
	transition: color 0.5s ease-in-out;
}
/* HEADER STYLING */

.containerHeader {
	width: 100vw;

	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding-top: 140px;
}
.containerItem1 {
	display: flex;
	width: 60%;
	height: inherit;
	background-position: top;
	background-size: cover;
	background-image: url(./images/pexels-ali-pazani-2584269.jpg);
}
.containerItem1 h1 {
	align-self: flex-end;
	color: #f9f4ef;
	text-shadow: 3px 3px #8c7851;
	margin: 60px 30px;
}
.containerItem2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: inherit;
	background-color: #020826;
	flex-direction: column;
}
.containerItem2 h2 {
	font-size: 2rem;
	font-family: var(--title-font);
	color: #f9f4ef;
}
.containerItem2 p {
	color: #f9f4ef;
	font-size: 1rem;
}
.containerItem2 a {
	border: #f9f4ef 2px solid;
	padding: 20px 30px;
	color: #f9f4ef;
	border-radius: 50px;
	font-family: var(--body-font);
	transition: all 100ms ease-in-out;
}
.containerItem2 a:hover {
	color: #020826;
	background-color: #f9f4ef;
	transition: all 100ms ease-in-out;
}
.line {
	margin-block: 50px;
	width: 1px;
	height: 100px;
	background-color: #f9f4ef;
}
/* FLAVOUR TEXT STYLING */
.flavourText {
	margin-top: 70px;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eaddcf;
	padding-bottom: 50px;
}
.flavourText2 {
	position: relative;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding-bottom: 50px;
}
.ftp {
	margin-top: 20px;
}

.ftItem {
	z-index: 3;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.behind {
	z-index: -1;
}
.ftContent {
	width: 500px;
}
/* pictures of flavour text  */
.ftImg {
	margin-top: 50px;
	width: 500px;
	z-index: 1;
}

/* marquee */
.marqueeContainer {
	background-color: #d46752;
}
.marquee {
	width: 100vw;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	color: #fffffe;
	animation: marqueeAnimate 20s linear infinite alternate;
}

.productText {
	margin: 0 10px 0 10px;
	font-family: var(--title-font);
	font-size: 3rem;
}

/* Offerings */
.offeringHeaderContainer {
	width: 100vw;
	height: 87vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;

	background: url(./images/pexels-marcelo-chagas-2229490.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}
.offeringHeaderItem {
	margin-bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.offeringHeaderText {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding-inline: 50px;
	background-color: #fffffeb4;
	text-align: center;
}
.offeringHeaderText h1 {
	font-family: var(--title-font);
}
.offeringHeaderText p {
	color: #020826;
}
/* featured items */
.featuredContainer {
	padding-block: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
.fiContainers {
	margin-inline: 50px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	flex-direction: row;
}

.featuredItems {
	margin-inline: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 300px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 500ms ease-in-out;
	border-radius: 3px;
	overflow: hidden;
}
.featuredItems:hover {
	transition: all 500ms ease-in-out;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2),
		-1px -1px 3px 2px rgba(0, 0, 0, 0.2);
}
.featuredPic {
	width: 300px;
	max-height: 447px;
	transition: transform 250ms ease-in-out;
}
.featuredPic:hover {
	transition: transform 250ms ease-in-out;
	transform: scale(1.5);
}
.fiTextContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	z-index: 2;
	background-color: #f5f4ef;
	padding-bottom: 20px;
}
.fcHeader {
	z-index: 2;
	margin-top: 20px;
	font-family: var(--title-font);
	font-size: 1.5rem;
}
.fcText {
	z-index: 2;

	font-size: 1rem;
	font-family: var(--body-font);
}
/* Reviews */
.backgroundSvg {
	display: block;
	box-sizing: content-box;
	background-color: #eaddcf;
	padding-bottom: 10px;
}
.reviewsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #eaddcf;

	flex-direction: column;
}
.reviewTitle {
}
.reviewTitle::after {
	/* position: absolute;
	display: block;

	width: 321px;
	height: 4px;

	background-color: #020826;
	border-radius: 4px;
	color: red;
	font-family: 'Font Awesome 5 Free';
	content: '\f10d'; */
}
.reviewItems {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
	box-shadow: 2px 2px 5px 3px #9b938b, -2px -2px 5px 3px #9b938b;
	padding: 50px;
	border-radius: 5px;
}
.reviewImg {
	width: 200px;
	border-radius: 50%;
	box-shadow: 10px -10px 0px 0px #d46752;
	max-height: 199px;
	object-fit: cover;
}
.reviewImg::before {
}
.reviewText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;

	margin-bottom: 10px;
}
.reviewText::after {
}
.name {
	font-family: var(--title-font);
	padding-block: 10px;
}
.reviewWords {
	font-size: 0.85rem;
	text-align: center;
}
/* .reviewText::before {
	font-family: 'Font Awesome 5 Free';
	content: '/f10e';
	color: #d46752;
	font-size: 2rem;
} */
.reviewButton {
	border-style: none;
	background-color: #eaddcf;
	font-size: 3rem;
	color: #8c7851;
	cursor: pointer;
}
.reviewButton:active {
	transform: scale(0.98);
}
.reviewButton:hover {
	color: #645638;
}
/* FAQ STYLING */
.aboutMeContainer {
	width: 100vw;
	height: 850px;

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: #fffffe;
}

.faq {
	align-self: center;
	color: #8c7851;
	font-family: Lobster;
	font-size: 3rem;
	text-shadow: 6px 3px #eaddcf;
}

.contentContainerAboutMe {
	width: 100vw;
	height: 600px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-radius: 5px;
}
.aboutMeItems {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	flex-direction: column;
	height: 100px;
	width: 700px;

	cursor: pointer;

	margin: 10px;
	transition: all 0.5s ease-in-out;
	background-color: #eaddcf;
	border-radius: 5px;

	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.aboutMeItems.amiActive {
	padding-bottom: 100px;
	transition: all 0.5s ease-in-out;
	background-color: #020826;
}

.titleContainer {
	align-self: flex-start;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 630px;
	height: 50px;

	margin-top: 70px;
	margin-left: 35px;
}

.itemTitle {
	align-self: flex-start;
	z-index: 1;
	font-family: var(--title-font);

	color: #020826;

	text-align: center;

	font-size: 2rem;

	transition: all 1s ease-in-out;
	margin-top: 10px;
}

.itemTitle.itActive {
	position: relative;
	color: #fffffe;
}
.itemTitle.itActive::after {
	content: '';
	position: absolute;
	width: 630px;
	height: 3px;
	background-color: #fffffe;
	display: block;
	margin-top: 5px;
}

.titleIco {
	align-self: flex-end;
	font-size: 2rem;
	z-index: 1;
	color: #020826;
	transition: all 0.3s ease-in-out;
}

.titleIco.tiActive {
	transform: rotate(-90deg);
	color: #fffffe;
	transition: all 0.3s ease-in-out;
}
.aboutMeText {
	position: relative;
	z-index: 1;
	opacity: 0;
	font-family: var(--body-font);
	color: var(--bg-color);
	text-align: left;
	font-size: 0.75rem;
	text-align: left;
	transition: all 0.5s ease-in-out;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
}

.amtActive {
	display: block;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

/* footer */
footer {
	padding: 20px;
	width: 100vw;
	height: 300px;
	background-color: #020826;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
}
.mfTitle {
	text-shadow: 3px 3px #8c7851;
	color: #f9f4ef;
}
.mainFooter {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.shortCutLinks {
	margin-top: 10px;
}
.shortCutItem {
	font-size: 2.5rem;
	margin-inline: 5px;
	color: #f9f4ef;
	transition: color 250ms ease-in-out;
}

.shortCutItem:hover {
	color: #8c7851;
	transition: color 250ms ease-in-out;
}
.follow {
	margin-top: 40px;
	font-family: var(--title-font);
	font-size: 1.5rem;
	color: #f9f4ef;
}
.secondFooter {
	padding-block: 80px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contacts {
	color: #f9f4ef;
	font-size: 1.5rem;
	font-family: var(--title-font);
}
.aboutUs {
	padding: 30px;
	width: 30%;
}
.auTitle {
	position: relative;

	font-size: 1.4rem;
	font-family: var(--title-font);
	color: #f9f4ef;
}
.auTitle::after {
	content: '';

	width: 100%;
	height: 2px;
	background-color: #fffffe;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.auText {
	font-size: 0.75rem;
	color: #f9f4ef;
}
/* animation keys */
@keyframes marqueeAnimate {
	0% {
		transform: translateX(-20%);
	}
	100% {
		transform: translateX(-100%);
	}
}
