* {
	box-sizing: border-box;
}
.faq-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.faq-items {
	width: 90vw;
	height: 100px;
	background-color: yellow;

	margin-block: 10px;

	padding: 15px 30px;

	border-radius: 5px;

	transition: all 0.3s ease-in-out;
}
.faq-items.items-active {
	transition: 0.3s ease-in-out;
	height: 300px;
}

.faq-title {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-bottom: 10px;
}
.faq-h1 {
	text-align: center;
	margin-inline: auto;
	font-size: 1.5rem;
}
.faq-icon {
	margin-block: auto;
	font-size: 1.5rem;
	text-align: center;

	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.faq-icon.icon-active {
	transform: rotate(-90deg);
	color: #fffffe;
	transition: all 0.3s ease-in-out;
}
.faq-p {
	width: auto;
	display: none;
	opacity: 0;
	color: red;
	font-size: 1rem;
	transition: display 0.5s ease-in-out;
	margin-inline: 10px;
}

.faq-p.p-active {
	margin-top: 20px;
	opacity: 1;
	display: block;
	transition: all 0.5s ease-in-out;
}
